*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
    background-image: url(../images/imagen.jpg);
	background-size: 40%;
	font-family: Open sans;
}
.black{
	background-image: url(../images/dark.png);
	background-size: 25%;
}
.titulo{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn-warning{
	color:#359eff;
}
button{
	margin: 5px; border: 0px; padding: 5px; cursor: pointer;
}
.txt{
	padding-left: 10px;
	margin-left: 15px;
	width: 220px;
}
.categoria{
	color: black;
	font-size: 22px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin-right: 20px;
	text-align: center;
}
.container{
    background-color:#359eff;
	position: relative;
	opacity: 0.9;
    width: 60%;
}
.form_top{
    text-align: center;
    padding: 1%;
    opacity: 1.0;
    color: black;
}
.form{
    width: 80%;
    margin: 1%;
    padding: 1%;
}
.btn_form{
    width: 30%;
    margin: 1%;
    padding: 2%;
}
ul,ol{
	list-style: none;
}
